@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3e5d8;
}

main {
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
  padding: 25px;
}
#intro {
  margin: auto;
  width: 950px;
}
#intro img {
  width: 950px;
  height: 380px;
  border-radius: 10px;
  object-fit: cover;
}

main h1,
main p,
main h2 {
  text-align: left;
  margin-bottom: 10px;
}

h1 {
  color: #824431;
  font-family: "DM Serif Display";
}
h2 {
  color: #824431;
  font-family: "DM Serif Display";
  font-size: 20px;
}
p,
li {
  font-family: DM Sans;
}
.Preparation {
  background-color: #fff7fc;
  padding: 10px 15px;
  border-radius: 10px;
}
.Preparation h3 {
  margin-bottom: 8px;
  color: #6b193b;
  font-family: "DM Serif Display";
  font-size: 20px;
}

.Preparation li {
  margin-bottom: 3px;
}
