@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3e5d8;
}

main {
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

main img {
  width: 950px;
  border-radius: 10px;
  margin-top: 25px;
}

main h1,
main p {
  text-align: left;
  margin: 10px 25px 10px;
}

h1,
h2 {
  color: #824431;
  font-family: "DM Serif Display";
}

p,
li {
  font-family: DM Sans;
}
.Preparation {
  max-width: 90%;
  margin: 0 auto;
  background-color: #fff7fc;
  padding: 8px;
  border-radius: 10px;
}
.Preparation h3 {
  text-align: left;
  margin-bottom: 8px;
  color: #6b193b;
  font-family: "DM Serif Display";
}

.Preparation li {
  text-align: left;
  margin-bottom: 3px;
}
